    body {
      font-family: Arial, sans-serif;
      background-color: #f9f9f9;
      margin: 0;
      padding: 0;
      color: #333;
    }

    .container {
      width: 800px;
      margin: 0 auto;
      background: #fff;
      padding: 20px;
    }

    h2 {
      color: #111;
      margin-bottom: 10px;
    }

    h3 {
      margin-top: 30px;
      color: #c70039;
      font-size: 14px;
      text-transform: uppercase;
    }

    img {
      width: 100%;
      border-radius: 8px;
      margin: 15px 0;
    }

    p {
      line-height: 1.6;
      font-size: 15px;
    }

    .destino {
      margin-top: 30px;
    }

    .destino h4 {
      margin-bottom: 8px;
    }

    .bom-para {
      margin-top: 8px;
      font-weight: bold;
    }

    .bom-para a {
      color: #0066cc;
      text-decoration: none;
    }

    .bom-para a:hover {
      text-decoration: underline;
    }

    footer {
  margin-top: 24px; 
  margin-bottom: 24px;  
  text-align: center;   
  font-size: 14px;
  color: #000000;
  font-family: 'Inter', Arial, sans-serif;
}
